body {
  font-family: "chauncy-pro";
  background-color: #a1efff;
}

.app {
  text-align: center;
  width: 100%;
}

.row {
  display: flex;
}

.left-column {
  width: 40%;
}

.right-column {
  width: 60%;
}

.app-divide-top {
  width: 100%;
  max-height: 150px;
}

.app-divide-bottom {
  width: 100%;
  max-height: 150px;
  bottom: 0;
  left: 0;
}

.divide-top {
  width: 100%;
}

.divide-bottom {
  width: 100%;
}

.texture {
  width: 100%;
  background-color: #e8a8ff;
  margin-top: -10px;
  margin-bottom: -10px;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: 25px;
}

.wtf {}

.wtf-copy {
  text-align: left;
  max-width: 600px;
  margin-right: 1.5em;
  margin-bottom: 10px;
}

.wtf-title {
  width: 100%;
}

.card {
  text-align: left;
  margin-bottom: 30px;
}

.card-grid {
  margin-top: 50px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 1rem;
}

.card-img {
  outline: 10px solid black;
}

.card-video {
  width: 200;
  outline: 10px solid black;
}

.card-owner {
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.card-details {
  margin-left: -5px;

}

.twitter-handle {
  color: black;
  font-size: 18px;
}

.twitter-logo {
  color: black;
  max-width: 15px;
  margin-right: 5px;
}

.load-more {
  font-size: 30px;
  text-decoration: underline;
  cursor: pointer;
}

.show-all {
  margin-top: 30px;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
}